@model SampleMvcFramework.Models.Stock

@{
    ViewBag.Title = "AddNewStock";
}

<h2>AddNewStock</h2>
@using (Html.BeginForm())
{
    <div>
        <p>
            @Html.LabelFor(m => m.StockName)
            @Html.EditorFor(m => m.StockName, new { htmlAttributes = new { @class = "form-control" } })
        </p>
        <p>
            Enter the Stock Description:
            @Html.EditorFor(m => m.StockDescription, new { htmlAttributes = new { @class = "form-control" } })
        </p>
        <p>
            Enter the Stock Price:
            @Html.EditorFor(m => m.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
        </p>
        <button type="submit" class="btn btn-info">Save Changes</button>
    </div>
}

