<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<appSettings>
		<add key="shopName" value="ABC Shopping Market"/>
		<add key="menuFile" value="C:\Trainings\FnfTraining\FnFTraining-2024\DotnetTraining\SampleConApp\Menu.txt"/>
		<add key="DbType" value="Oracle"/>
		<add key="LoggerFolder" value="C:\ProgramData\FnfLogs"/>
	</appSettings>
</configuration>