<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqToSqlExample.Properties.Settings.FnfTrainingConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FnfTraining;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>