<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajax Calls using jQuery</title>
    <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css">
    <script src="./lib/jquery/jquery.min.js"></script>
    <script>
        const url = "MovieDb/AllMovies"

        function createRow(movie) {
            const row = `<tr>
                        <td>${movie.title}</td>
                        <td>${movie.description}</td>
                        <td>${movie.director}</td>
                        <td>${movie.actors}</td>
                        <td>${movie.duration}</td>
                        <td>
                            <a href="#" class="btn btn-secondary" onClick="OnEdit(${movie.title})">Edit

                        </td>
                                </tr>`
            return row;
        }
        function onGetRecordsSuccess(result) {
            console.log(result)
            $("table tbody tr").remove();
            $.each(result, function (index, value) {
                const row = createRow(value);
                $("table tbody").append(row);
            })
        }
        function showRecords() {
            $.get(url, onGetRecordsSuccess);
        }
        function findRecords() {
            const title = $("#txtSearch").val()
            const findUrl = `MovieDb/Find?title=${title}`
            $.get(findUrl, onGetRecordsSuccess);
        }
        function addRecord() {
            const url = "MovieDb/AddMovie";
            const title = $("#txtNewTitle").val();
            const desc = $("#txtNewDesc").val();

            let movie = { "title": title, "description": desc, "director": "\tShau Templeton", "duration": 142, "actors": "\t\r\nClint Eastwood\r\n", "rating": 8.5 }
            $.post(url, movie, (res) => {
                alert(res);
            })
        }
        function deleteRecords() {
            alert("delete")
        }

        function init() {
            $("#btnShow").click(showRecords);
            $("#btnFind").click(findRecords);
            $("#btnAdd").click(addRecord);
            $("#btnDelete").click(deleteRecords);
        }

        $(document).ready(init);
    </script>
</head>
<body>
    <nav class="navbar bg-light">
        <button id="btnShow" class="btn btn-info m-4">Show Records</button>
        <button id="btnFind" class="btn btn-primary m-4">Find Records</button>
        <button id="btnAdd" class="btn btn-secondary m-4">Add Records</button>
        <button id="btnDelete" class="btn btn-warning m-4">Delete Records</button>
    </nav>
    <h1>Purpose of this App</h1>
    <hr>
    <div>
        <p>This App will call the APIs of the MVC Controller and work with the data</p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11">
                <input type="search" id="txtSearch" placeholder="Search Movie" class="form-control" onchange="findRecords()"/>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Director</th>
                            <th>Actors</th>
                            <th>Duration</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <section>
                    <h1>New Movie Registration</h1>
                    <hr/>  
                    <input id="txtNewTitle" placeholder="Enter the movie title" class="form-control"/>
                    <input id="txtNewDesc" placeholder="Enter the movie Desc" class="form-control"/>
                    <input id="txtDirector" placeholder="Enter the movie Director" class="form-control" />
                    <input id="txtNewActor" placeholder="Enter the movie Actor" class="form-control" />
                    <button onclick="addRecord()">Add Movie</button>
                </section>
            </div>
        </div>
    </div>
</body>
</html>