<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqToSqlLib.Properties.Settings.FnfTrainingConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FnfTraining;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>