<h1>Welcome to Blazor App Development</h1>
<nav>
    <ul style="list-style-type:none">
        <li>
            <NavLink href="/">First Example</NavLink>
        </li>
        <li><NavLink href="/AllEmployees">EmployeeList</NavLink> </li>
        <li><NavLink href="/ListofProducts">All Products</NavLink> </li>
        <li><NavLink href="/AddProduct">Add New Product</NavLink></li>
        <li><NavLink href="/AboutUs">About Us</NavLink></li>
    </ul>
</nav>
@code {

}
