@page "/" 

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>
    Blazor app helps in creating rich internet based Applications with more dependency on JS to perform its operations. 
    <br/>
</p>