@model SampleApiMvcClient.Models.Stock

@{
    ViewData["Title"] = "AddNew";
}

<h1>AddNew</h1>

<h4>Stock</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNew">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StockId" class="control-label"></label>
                <input asp-for="StockId" class="form-control" />
                <span asp-validation-for="StockId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockName" class="control-label"></label>
                <input asp-for="StockName" class="form-control" />
                <span asp-validation-for="StockName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockDescription" class="control-label"></label>
                <input asp-for="StockDescription" class="form-control" />
                <span asp-validation-for="StockDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
