<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p>
                <img [src]="this.empObj.empPic" width="175px" height="200px"/>
            </p>
        </div>
        <div class="col-md-5">
             <p>
                Employee Name: 
                <input class="form-control" [(ngModel)]="empObj.empName" placeholder="Name"/>
             </p>
             <p>
                Employee Address: 
                <input class="form-control" [(ngModel)]="empObj.empAddress" placeholder="Name"/>
             </p>
             <p>
                Employee Salary: 
                <input class="form-control" [(ngModel)]="empObj.empSalary" placeholder="Name"/>
             </p>   
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary my-2">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button class="btn btn-danger my-2">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
