body{
 background-color: bisque;
 color : brown;
 font-size: 14pt;   
}

section{
    width: 45%;
    display: inline-block;
    border: 2px dotted red ;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    vertical-align: top;
}

.jumbo{
    font-size: 38pt;
    padding: 25pt;
    text-align: center;
    background-color: darkkhaki;
}

header{
    text-align: center;
    background-color: cadetblue;
    color: red;
    padding: 2px;
    vertical-align: bottom;
    margin-right: 5px;
}
footer{
    font-size: 0.8em;
    font-style: italic;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}
ul{
    list-style-type: square;
}

ol{
    list-style-type: upper-roman;
}
li{
    padding: 2px;
    background-color: burlywood;
    color: brown;
    margin: 2px;
}

li:hover{
    background-color: brown;
    color: burlywood;
}

a{
    background-color: coral;
    color: black;
    margin: 15px;
    padding: 5px;
}

nav{
 background-color: darkgrey;
 color: darkolivegreen;
 padding: 5px;
 margin: 5px;
 font-size: 14pt; 
 text-align: center;  
}

nav > ul{
    list-style-type: none;
}

nav > ul > li{
    display: inline-block;
    width: auto;
    padding: 10px;
}

nav > ul > li > a{
    background-color: burlywood;
    color : brown;
}

table{
    border: 2px solid red;
    width: 65%;
}
tr{
    height: 50px;
}
tr:nth-child(even){
    background-color: greenyellow;
}

tr:nth-child(odd){
    background-color: green;
}

.postcard{
    border: 2px solid blue;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 2px 2px 2px 2px lightseagreen;
}

.rounded{
    border-radius: 50%;
    float: right;
    width: 45%;
}

.polaroid{
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 lightpink;
    margin-bottom: 25px;
    float: left;
    overflow: hidden;       
}

.row{
    width: 100%;
    text-align: left;
    vertical-align: top;
    border: 2px solid red;
}
.mirror{
    -webkit-box-reflect: below;
}