/* You can add global styles to this file, and also import other style files */
/* div{
    display: inline-block;
    width: 85%;
    padding: 5px;
    margin: 5px;
    border: 2px solid lightblue;
} */
